.nav{
    height: 3rem;
    box-shadow: 2px 2px 3px 2px gray;
    background-color: lightgray;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.wrapper{
    background-color: lightgray;
    text-align:left;
    height: 93vh;
}

.input{
    border: 1px solid;
    width: 50vw;
    height: 75vh;
    width: 80vw;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 130px;
    outline: none;
    border: none;
    box-shadow: 2px 3px 7px 5px gray;
    background-color: #fff;
    padding: 25px;
}

.download{
    display: flex;
    justify-content: end;
    position: absolute;
    right: 4%;
    bottom: 10%;
}

.IconsContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 98.1%;
    margin-bottom: 1.3rem;
    /* box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.15); */
    box-shadow: 2px 2px 3px 2px gray;
    background: #fff;
    color: rgb(70, 70, 70);
    cursor: pointer;
    padding: 0.8rem;
  }