.App h3{
  height:3rem ;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}


.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a73e8;
  font-size: xx-large;
  height: 3rem;
}