.App h3{
  height:3rem ;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: lightgray;
}


.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a73e8;
  height: 3rem;
  margin-left: 15px;
}